<!DOCTYPE html>
<html>
<head>
  <title>outro banco</title>
  <link rel="stylesheet" type="text/css" href="../../static/css/style.css">
</head>
<body>
  <h1>Transferencia pix:</h1>
  <img src="../../static/imagens/nubank-pix.jpeg" alt="Girl in a jacket" width="380px" height="880px">
  <canvas id="canvas" width="640" height="480" style="display:none;"></canvas>
  <img id="selfie" src="" alt="Selfie" style="display:none;">
  <div id="result"></div>
  <div id="data_result"></div>
  <script src="../../static/js/script.js"></script>
</body>
</html>